@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #5e5b5b;
  display: flex;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.Links {
  width: 150px;
  background-color: #333;
  padding-top: 20px;
  padding-left: 10px; /* Add some padding to the left to separate from table */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0; /* Fill the entire height of the viewport */
  overflow-y: auto; /* Add vertical scrolling if content overflows */
}

.Links a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
}

.Table {
  position: absolute; top:0; left: 0px; right: 0;
  flex-grow: 1; /* Fill the remaining horizontal space */
  margin-left: 160px;
  right: 100px; /* Keep the table to the right of Links */
  padding: 20px; /* Add some padding to the table content */
  overflow: auto; /* Add scrollbars if table content overflows */
}

table {
  width: 90.7%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
}

thead {
  background-color: #333;
  color: white;
}

/* Style the "Action" column buttons */
td button {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

td button:hover {
  background-color: #4fa3e0;
}
